<StackLayout  >
<Label textWrap="true" marginBottom="5">
    <FormattedString>
        <span
            text="Estimado asegurado, para solicitar tu factura por favor envíanos un correo al siguiente email:"></span>
    </FormattedString>
</Label>
<Label textWrap="true" marginBottom="5" verticalAlignment="center"
    (tap)="openEmail('asistenciapagos@ahorraseguros.mx')">
    <FormattedString>
        <span fontWeight="bold" color="#4d8cff" class="fas"
            text="&#xf0e0;  asistenciapagos@ahorraseguros.mx"></span>
    </FormattedString>
</Label>
<Label marginBottom="5" class="title-lbl" text="No olvides adjuntar los siguientes datos:"
    textWrap="true"></Label>
<!-- #region nota1-->
<Label textWrap="true" marginLeft="20">
    <FormattedString>
        <span class="fas" fontWeight="bold" text="&#xf0da;  Nombre completo"></span>
    </FormattedString>
</Label>
<Label textWrap="true" marginLeft="20">
    <FormattedString>
        <span class="fas" fontWeight="bold" text="&#xf0da;  Número de póliza"></span>
    </FormattedString>
</Label>
<Label textWrap="true" marginLeft="20">
    <FormattedString>
        <span class="fas" fontWeight="bold" text="&#xf0da;  Nombre de tu aseguradora"></span>
    </FormattedString>
</Label>
<Label textWrap="true" marginLeft="20" marginBottom="5">
    <FormattedString>
        <span class="fas" fontWeight="bold" text="&#xf0da;  Teléfono de contacto"></span>
    </FormattedString>
</Label>
<Label textWrap="true" marginBottom="5">
    <FormattedString>
        <span
            text="Es importante que valides que tu RFC esté correcto en la póliza, en caso de tener una observación selecciona “modificar póliza existente” dentro del menú de opciones"></span>
    </FormattedString>
</Label>
</StackLayout>