.forget-password-label{
    text-align: center;
    font-size: 16;
    margin-top: 10;
    color: #b3aa06;
    text-decoration: underline;
}

.btnCotizar{
    background-color: #f5eb2e;
    font-size: 16px;
    font-weight: bold;
    color: white;
}