<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout height="100%">
    <ScrollView height="100%">
      <StackLayout width="90%">

        <StackLayout>
          <Label text="DATOS DE LA PÓLIZA" textWrap="true" class="titleSectionDetails"></Label>
          <Label class="title" text="Número de Póliza" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.poliza" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Prima neta" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.primaNeta" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Fecha de registro" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.fechaRegistro" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Fecha de inicio" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.fechaInicio" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Fecha de Fin" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.fechaFin" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Tipo de pago" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.tipoPago" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Número de pagos" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.cantidadPagos" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
        </StackLayout>
        <StackLayout>
          <Label text="DATOS DEL AUTO" textWrap="true" class="titleSectionDetails"></Label>
          <Label class="title" text="Tipo subramo" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.tipoSubramo" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Modelo" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.datos['modelo']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Marca" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.datos['marca']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Número de motor" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.datos['numeroMotor']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Número de placas" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.datos['numeroPlacas']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Descripción" textWrap="true"></Label>
          <Label class="title-body" [text]="policieDetailsArr.datos['descripcion']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>