// Add mobile styles for the component here
.title-lbl {
    font-size: 18;
    color: #6E6E6E;
    font-weight: bold;
}

.stack-container {
    font-size: 15;
    color: #000;
}

StackLayout{
    background-color: white;
}