<StackLayout width="100%" class="stack-container" padding="30px 15px 0 20px">
    <Label class="title-lbl" text="¡Ayúdanos a concretar tu inspección vehicular!" textWrap="true"></Label>
    <Label textWrap="true" marginBottom="5">
        <FormattedString>
            <span text="¿Qué es una inspección vehicular?"></span>
        </FormattedString>
    </Label>
    <Label textWrap="true">
        <FormattedString>
            <span text="Es un requisito "></span>
            <span fontWeight="bold" text="imprescindible "></span>
            <span
                text="para la contratación de tu seguro de auto, este proceso valida el estatus general de tu unidad con el fin de garantizar la protección del mismo durante la vigencia de la póliza y así poder brindarte un mejor servicio en caso de tener algún tipo de siniestro."></span>
        </FormattedString>
    </Label>
    <Label textWrap="true" marginBottom="5">
        <FormattedString>
            <span text="1- Valida que hayas recibido un mensaje vía "></span>
            <span fontWeight="bold" text="SMS y correo electrónico "></span>
            <span text="con la liga de inspección vehicular, en caso de no ser así, comunícate con nosotros al "></span>
        </FormattedString>
    </Label>

    <GridLayout rows="*" columns="auto, auto" marginBottom="5" verticalAlignment="center">
        <Label row="0" col="0" text="" textWrap="true" (tap)="call('5536024275')">
            <FormattedString>
                <span fontWeight="bold" class="fas" text="&#xf095;   5536024275"></span>
            </FormattedString>
        </Label>
        <Label paddingLeft="5" row="0" col="1" text="" textWrap="false">
            <FormattedString>
                <span text=" Opción 6"></span>
            </FormattedString>
        </Label>
    </GridLayout>
    <Label textWrap="true">
        <FormattedString>
            <span text="2- Sigue los siguientes pasos: "></span>
        </FormattedString>
    </Label>
    <Gif src="~/assets/gifs/gif-image.gif" [height]=" isAndroid ? 350 : 320"></Gif>
    <Label textWrap="true">
        <FormattedString>
            <span fontWeight="bold" text="Recuerda "></span>d
            <span text="concluir el proceso dentro de los primeros "></span>
            <span fontWeight="bold" color="red" text="5 días naturales "></span>
            <span text="después de haber recibido la liga de inspección vehicular, "></span>
            <span fontWeight="bold" text="evita contratiempos. "></span>
        </FormattedString>
    </Label>
</StackLayout>