// Add mobile styles for the component here

.insureImage {
    width: 400px;
    height: 180px;
}

.insureName {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

StackLayout{
    background-color: white;
    color: #000;
}

.title{
    text-align: center;
}

.subtitle{
    text-align: center;
}