<StackLayout width="100%" padding="50px 10px 0 30px">
    <Label class="title-lbl" text="¿Qué documentos son válidos para que pueda cargar la app?" textWrap="true"></Label>
    <Label textWrap="true" marginBottom="5">
        <FormattedString>
            <span class="subtitle-span" text="Los documentos válidos como identificación oficial son:"></span>
        </FormattedString>
    </Label>
    <Label textWrap="true" marginLeft="20">
        <FormattedString>
            <span class="subtitle-span-bold fas" fontWeight="bold" text="&#xf0da;  INE"></span>
        </FormattedString>
    </Label>
    <Label textWrap="true" marginLeft="20">
        <FormattedString>
            <span class="subtitle-span-bold fas" fontWeight="bold" text="&#xf0da;  Pasaporte Vigente"></span>
        </FormattedString>
    </Label>
    <Label textWrap="true" marginLeft="20">
        <FormattedString>
            <span class="subtitle-span-bold fas" fontWeight="bold" text="&#xf0da;  Cédula profesional"></span>
        </FormattedString>
    </Label>
</StackLayout>