<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton *ngIf="isAndroid" icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
    <NavigationButton *ngIf="isIOS" icon="font://&#xf053;" class="fas fas-size-ios" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout height="100%" width="90%" marginTop="20">
    <ScrollView height="100%">
        <StackLayout>
            <StackLayout class="hr"></StackLayout>
            <StackLayout *ngFor="let item of securityOptions">
                <GridLayout rows="25" columns="50, *" (tap)="onItemTap(item.url)">
                    <Label class="icon-list-settings fas" row="0" col="0" [text]="item.icon"
                        textWrap="true"></Label>
                    <Label class="title-list-settings" row="0" col="1" [text]="item.title" textWrap="true"></Label>
                </GridLayout>
                <StackLayout class="hr"></StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>