<StackLayout height="100%" class="home-text">
       <Label text="¡Hola {{dataClientArr.nombre | titlecase}}, bienvenido a" textWrap="true" class="header-welcome"></Label>
       <Label text="mejor seguros!" textWrap="true" class="header-welcome"></Label>
       <Label text="En está app, puedes ver toda la información referente a tú perfil. También podrás encontrar instrucciones y ,en caso de ser necesario, ponerte en contacto con nosotros." textWrap="true" style="padding-top: 20px;"></Label>
       <Image src="~/assets/images/home-image.png" ></Image>
</StackLayout>



