// Add mobile styles for the component here
.home-text{
    padding: 20px 10px 0 40px;
    color: black;
    background-color: white;
    font-size: 16;
    text-align: left;
}
.header-welcome {
    text-align: center;
    font-weight: bold;
}
Image{
    width: auto;
    height:auto;
}