.items-wrapper{
    background-color: #014f98;
}

.menu-type{
    background-color: #124b80;
    label{
    color: rgb(236, 236, 236);
    }
}

.nt-icon{
    color: #f5ea32;
    font-size: 20px;
}

label{
    color: white;
    font-size: 14px;
}

.menu-button{
    text-align: center;
}

.text-button{
    padding: 0;
    margin: 0;
}

ScrollView{
    highlight-color: #f5ea32;
}