<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<ActionBar title="" icon="" class="action-bar">
  <NavigationButton *ngIf="isAndroid === true"
    [icon]="isOpenSidedrawer === true ? 'font://&#xf00d;' : 'font://&#xf0c9;'" class="fas fas-size"
    (tap)="showDrawer()">
  </NavigationButton>
  <Image class="ABImage" src="~/assets/login/logo-white.png" (tap)="onNavItemTap('/container')"></Image>
  <ActionItem *ngIf="isIOS === true" [icon]="isOpenSidedrawer === true ? 'font://&#xf00d;' : 'font://&#xf0c9;'"
    class="fas" ios.position="left" (tap)="showDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer [drawerTransition]="sideDrawerTransition" drawerLocation="Bottom" (drawerClosing)="isOpenSidedrawer = false" drawerContentSize="280">
  
  <!-- CONTENIDO DEL SIDE DRAWER-->
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <ScrollView row="1" orientation="horizontal" scrollbarThumbHorizontal="color/#f5ea32" class="nt-drawer__body">
      <GridLayout rows="auto, *, *" columns="115%, 115%, 115%, 115%, 115%, 115%, 115%, 115%, 115%" class="items-wrapper">

      <!-- MENÚ GENERAL-->
        <label row="0" col="0" colSpan="3" text="General" textAlignment="center" fontSize="18" class="menu-type"></label>

        <!--INICIO-->
        <StackLayout row= "1" col="0" orientation="vertical" (tap)="onNavItemTap('/container')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf015;" class="nt-icon fas"></Label>
          <Label text="Inicio"></Label>
        </StackLayout>

        <!--POLIZAS-->
        <StackLayout row= "1" col="1" orientation="vertical" (tap)="onNavItemTap('/container/policies')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf07c;" class="nt-icon fas"></Label>
          <Label text="Mis Pólizas"></Label>
        </StackLayout>

        <!--IDENTIFICACIÓN OFICIAL-->
        <StackLayout row= "1" col="2" orientation="vertical" (tap)="onNavItemTap('/container/official-identification')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf2c2;" class="nt-icon fas"></Label>
          <Label text="Indentificación" class="text-button"></Label>
          <Label text="Oficial" class="text-button"></Label>
        </StackLayout>

        <!--INSPECCIÓN VEHICULAR-->
        <StackLayout row= "2" col="0" orientation="vertical" (tap)="onNavItemTap('/container/vehicle-inspection')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf5de;" class="nt-icon fas"></Label>
          <Label text="Inspección" class="text-button"></Label>
          <Label text="Vehicular" class="text-button"></Label>
        </StackLayout>

        <!--SINIESTROS-->
        <StackLayout row= "2" col="1" orientation="vertical" (tap)="onNavItemTap('/container/event-of-claim')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf5e1;" class="nt-icon fas"></Label>
          <Label text="En caso de" class="text-button"></Label>
          <Label text="Siniestro" class="text-button"></Label>
        </StackLayout>

        <!--ATENCIÓN A CLIENTES-->
        <StackLayout row= "2" col="2" orientation="vertical" (tap)="onNavItemTap('/container/support')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf590;" class="nt-icon fas"></Label>
          <Label text="Atención a" class="text-button"></Label>
          <Label text="Clientes" class="text-button"></Label>
        </StackLayout>


      <!--MENU DE USUARIO-->
        <label row="0" col="3" colSpan="3" text="Perfil" textAlignment="center" fontSize="18" class="menu-type"></label>

        <!--INFORMACIÓN-->
        <StackLayout row= "1" col="3" orientation="vertical" (tap)="onNavItemTap('/container/profile')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf2bd;" class="nt-icon fas"></Label>
          <Label text="Mis Datos"></Label>
        </StackLayout>
        
        <!--AJUSTES-->
        <StackLayout row= "1" col="4" orientation="vertical" (tap)="onNavItemTap('/container/settings')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf4fe;" class="nt-icon fas"></Label>
          <Label text="Ajustes"></Label>
        </StackLayout>

        <!--CERRAR SESIÓN-->
        <StackLayout row= "1" col="5" orientation="vertical" (tap)="onNavItemTap('/container/logout')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf2f5;" class="nt-icon fas"></Label>
          <Label text="Cerrar Sesión"></Label>
        </StackLayout>

        <!--MENU DE ATENCION A CLIENTES-->
        <label row="0" col="6" colSpan="3" text="Atención a Clientes" textAlignment="center" fontSize="18" class="menu-type"></label>
         
      <!--INSTRUCCIONES DE PAGO-->
        <StackLayout row= "1" col="6" orientation="vertical" (tap)="onNavItemTap('/container/payment-instructions')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf653;" class="nt-icon fas"></Label>
          <Label text="Intrucciones de" class="text-button"></Label>
          <Label text="Pago" class="text-button"></Label>
        </StackLayout>

        <!--CATALOGO DE FACTURACIÓN-->
        <StackLayout row= "1" col="7" orientation="vertical" (tap)="onNavItemTap('/container/billing-catalog')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf518;" class="nt-icon fas"></Label>
          <Label text="Catalogo de" class="text-button"></Label>
          <Label text="Facturación" class="text-button"></Label>
        </StackLayout>

        <!--CONDICIONES GENERALES-->
        <StackLayout row= "1" col="8" orientation="vertical" (tap)="onNavItemTap('/container/general-conditions')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf56c;" class="nt-icon fas"></Label>
          <Label text="Condiciones" class="text-button"></Label>
          <Label text="Generales" class="text-button"></Label>
        </StackLayout>

        <!--AVISO DE PRIVACIDAD-->
        <StackLayout row= "2" col="6" orientation="vertical" (tap)="onNavItemTap('/container/privacy-notice')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf502;" class="nt-icon fas"></Label>
          <Label text="Aviso de" class="text-button"></Label>
          <Label text="Privacidad" class="text-button"></Label>
        </StackLayout>

        <!--INFORMACIÓN DE LA APLICACIÓN-->
        <StackLayout row= "2" col="7" orientation="vertical" (tap)="onNavItemTap('/container/app-info')" class="menu-button" verticalAlignment="center">
          <Label text="&#xf05a;" class="nt-icon fas"></Label>
          <Label text="Acerca de la " class="text-button"></Label>
          <Label text="Aplicación" class="text-button"></Label>
        </StackLayout>


      </GridLayout>
    </ScrollView>
  </GridLayout>
  
  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>