// Add mobile styles for the component here
.front-card {
    color: #000;
    vertical-align: middle;
    font-size: 14;
}

.container-front-card {
    /* background-image: url('~/assets/logos-ahorra/ball-seguros.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    background-color: #fff;
    text-align: center;
    border-color: #000;
    border-width: 1;
}

.back-card {
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    color: black;
    border-color: #000;
    border-width: 1;
}