<StackLayout>
<!-- #region -->
<Label
    text='Estimado asegurado a continuación se muestran las opciones para el pago de su póliza, le pedimos seleccionar su aseguradora y ubicar la cuenta concentradora del banco de su elección.'
    textWrap="true" marginBottom="5">
</Label>
<!-- #endregion -->
<!-- #region -->
<Label textWrap="true" marginBottom="5">
    <FormattedString>
        <span
            text="Una vez concluido el pago, le pedimos por favor enviar el comprobante de pago legible a la siguiente dirección de correo electrónico adjuntando su número de póliza"></span>
    </FormattedString>
</Label>
<Label textWrap="true" marginBottom="5" verticalAlignment="center"
    (tap)="openEmail('asistenciapagos@ahorraseguros.mx')">
    <FormattedString>
        <span fontWeight="bold" color="#4d8cff" class="fas"
            text="&#xf0e0;  asistenciapagos@ahorraseguros.mx"></span>
    </FormattedString>
</Label>
<!-- #endregion -->
<!-- #region -->
<Label textWrap="true" marginBottom="10">
    <FormattedString>
        <span
            text="Si deseas asesoría en relación a cómo realizar la operación, por favor comunícate a la siguiente línea telefónica:"></span>
    </FormattedString>
</Label>
<GridLayout rows="*" columns="auto, auto" marginBottom="5" verticalAlignment="center">
    <Label row="0" col="0" text="" textWrap="true" (tap)="call('5536024275')">
        <FormattedString>
            <span fontWeight="bold" class="fas" text="&#xf095;   5536024275"></span>
        </FormattedString>
    </Label>
    <Label paddingLeft="5" row="0" col="1" text="" textWrap="false">
        <FormattedString>
            <span text=" Opción 2."></span>
        </FormattedString>
    </Label>
</GridLayout>
<!-- #endregion -->
<!-- #region -->
<Label class="title-lbl" text="Selecciona tu Aseguradora" textWrap="true"></Label>
<!-- #region nota1-->
<Label textWrap="true">
    <FormattedString>
        <span color="#000" fontWeight="bold" text="Nota 1: "></span>
        <span text="Al seleccionar la aseguradora deberá salir la siguiente leyenda:"></span>
    </FormattedString>
</Label>
<Label textWrap="true" marginBottom="5">
    <FormattedString>
        <span fontStyle="italic" text="Recuerda compartirnos tu comprobante de pago"></span>
    </FormattedString>
</Label>
<!-- #endregion nota1-->
<!-- #region nota2-->
<Label textWrap="true">
    <FormattedString>
        <span color="#000" fontWeight="bold" text="Nota 2: "></span>
        <span
            text="Al seleccionar la aseguradora que no tiene cuenta concentradora se abre el siguiente mensaje:"></span>
    </FormattedString>
</Label>
<Label textWrap="true">
    <FormattedString>
        <span fontStyle="italic"
            text="Lo sentimos, la aseguradora está en proceso de renovar las cuentas por favor comunicate con nosotros"></span>
    </FormattedString>
</Label>
<!-- #endregion nota2-->
<!-- #endregion -->
<GridLayout rows="*" columns="*" textAlignment="center">
    <Button row="0" col="0" class="btnCuentas" text="VER CUENTAS CONCENTRADORAS"
        (tap)="onTapButtonNavigation('payment-instructions/concentrator-accounts')"></Button>
</GridLayout>
</StackLayout>