<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton *ngIf="isAndroid" icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
    <NavigationButton *ngIf="isIOS" icon="font://&#xf053;" class="fas fas-size-ios" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout height="100%" width="90%" class="form-change-pass" marginTop="150px">
    <form [formGroup]="formGroup" height="100%">
        <GridLayout rows="auto, 20, auto, 20, auto, 30, auto" columns="*" width="90%">
            <StackLayout row="0" col="0">
                <Label class="title-text-field" text="Nueva contraseña" textWrap="true"></Label>
                <GridLayout rows="auto,20" columns="*,50">
                    <TextField formControlName="password" row="0" col="0" colSpan="2" text="" [secure]="isShowingPassword ? false : true"
                        class="text-field" hint="" width="100%">
                    </TextField>
                    <Label row="0" col="1" marginTop="5" [text]="isShowingPassword ? '&#xf070;' : '&#xf06e;'"
                        class="fas" textWrap="true" (tap)="showPassword()"></Label>
                    <div row="1" col="0" colSpan="2" *ngIf="passwordField.errors && passwordField.dirty">
                        <Label *ngIf="passwordField.hasError('required') && !this.passwordField.hasError('pattern')"
                            text="Campo Obligatorio" textWrap="true" class="errorTextField_security"></Label>
                        <Label *ngIf="passwordField.hasError('pattern')" text="Contraseña Inválida" textWrap="true"
                            class="errorTextField_security"></Label>
                        <Label class="errorTextField_security"
                            *ngIf="passwordField.hasError('maxlength') && !this.passwordField.hasError('pattern')"
                            text="Debe ser menor a 32 caracteres." textWrap="true"></Label>
                    </div>
                </GridLayout>
            </StackLayout>

            <StackLayout row="2" col="0">
                <Label textWrap="true">
                    <FormattedString>
                        <span text="Seguridad de la contraseña:" fontWeight="bold" class="instructions-size"></span>
                    </FormattedString>
                </Label>
                <Label textWrap="true" class="fas instructions-size">
                    <FormattedString>
                        <span text="&#xf0da;  Debe tener entre 8 y 32 caracteres."></span>
                    </FormattedString>
                </Label>
                <Label textWrap="true" class="fas instructions-size">
                    <FormattedString>
                        <span text="&#xf0da;  Debe tener números, letras mínusculas y mayúsculas."></span>
                    </FormattedString>
                </Label>
            </StackLayout>

            <StackLayout row="4" col="0">
                <Label class="title-text-field" text="Confirmar nueva contraseña" textWrap="true"></Label>
                <TextField formControlName="confirmPassword" secure="true" class="text-field" hint="" text=""
                    width="100%">
                </TextField>
                <div *ngIf="confirmPasswordField.dirty">
                    <div *ngIf="confirmPasswordField.errors">
                        <Label *ngIf="confirmPasswordField.hasError('required')" class="errorTextField_security"
                            text="Campo Obligatorio" textWrap="true"></Label>
                    </div>
                </div>
            </StackLayout>

            <StackLayout row="6" col="0">
                <Label *ngIf="confirmPass === false" class="errorTextField_security" text="Las contraseñas no coinciden"
                    textWrap="true"></Label>
                <Button [isEnabled]="formGroup.valid ? true : false" (tap)="confirmPassword()" class="btnSavePassword"
                    text="Guardar Cambios"></Button>
            </StackLayout>
        </GridLayout>
    </form>
</StackLayout>