<StackLayout class="stacklayout-loader">
    <GridLayout rows="auto,auto,20,auto" columns="*" class="grdLoader">
        <Image row="0" col="0" class="imgLoader" src="~/assets/login/_logo.png"></Image>
        <ActivityIndicator row="1"  col="0" [busy]="isBusy" color="#f5ea32" width="65" height="65"></ActivityIndicator>
        <Label class="txtLoader" row="3" col="0" [text]="textLoader" textWrap="true"></Label>
    </GridLayout>
</StackLayout>