@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.


// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}

// Common page class

// Drawer navigation custom styles

$theme-title-5-font-size-phone: 16px;
$theme--principal-color: #014f98;
$theme--secondary-color: #f5ea32;
$theme--text-dark-color: #494949;

.header-sd {
  background-color: lightgray;
  color: #000;
}

ActionBar {
  background-color: $theme--principal-color;
  color: #fff;
}

.ABImage {
  width: 500px;
}

// #region Estilos Login
.page {
  align-items: center;
  flex-direction: column;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 100;
  font-weight: bold;
}

.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: $theme--secondary-color;
}

.input-field {
  margin-bottom: 25;
}

.input {
  font-size: 18;
  placeholder-color: #a8a8a8;
}
.input:disabled {
  background-color: white;
  opacity: 0.5;
}

.btnLogin {
  margin: 30 5 15 5;
  background-color: $theme--principal-color;
  color: #fff;
  font-weight: bold;
}

.login-label {
  horizontal-align: center;
  color: #a8a8a8;
  font-size: 16;
}

.sign-up-label {
  margin-bottom: 20;
}

.bold {
  color: #000000;
}

// Estilos para mostrar el error debajo de los textfields
.errorTextField {
  color: rgb(230, 10, 10);
  font-size: 14;
  margin: 0 15 0 15;
  font-weight: bold;
}
// #endregion

//#region estilos loader
.stacklayout-loader {
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 16;
}
//#endregion

//#region Tamaño íconos ActionBar
.fas-size {
  font-size: 10;
}
//#endregion

//#region Estilos Cards
.stacklayout-card {
  /* margin-top: 20; */
  border-color: rgb(238, 236, 236);
  border-width: 1;
  border: 1 1 1 1;
  border-radius: 10%;
  background-color: #fff;
}

.stacklayout-card-title {
  border-width: 0 0 1 0;
  border-color: #b6c1d4;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  padding: 50px 0 25px 0;
  font-size: 16;
  text-align: center;
  font-weight: bold;
  width: 94%;
  color: $theme--principal-color;
}

.stacklayout-card-body {
  padding: 35px;
}

.stacklayout-card-options {
  border-width: 1 0 0 0;
  border-color: #b6c1d4;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding: 50px 0 25px 0;
  font-size: 16;
  text-align: center;
  font-weight: bold;
  width: 94%;
  color: $theme--principal-color;
}

.shadow {
  margin-top: 20;
  background-color: hsl(225, 1%, 95%);
  padding: 0 15px 15px 0;
  border-radius: 10%;
}

//#endregion

//#region estilos del componente de Policies
.notPolicies {
  vertical-align: middle;
  font-weight: bold;
  font-size: 18;
  text-align: center;
}

.title-policies {
  font-weight: bold;
  font-size: 16;
  text-align: left;
  padding-left: 40px;
  color: $theme--text-dark-color;
}

.text-policies {
  color: rgb(121, 121, 121);
  font-size: 14.5;
  text-align: left;
}

.textInfo {
  margin-top: 20;
  text-align: center;
  font-size: 14;
  font-weight: bold;
}

.btnOptions {
  android-elevation: 0;
  width: 100%;
  text-transform: uppercase;
  color: $theme--text-dark-color;
}
//#endregion

//#region float-button
.float-btn {
  background-color: $theme--principal-color;
  border-radius: 100%;
  width: 56;
  height: 56;
  text-align: center;
  vertical-align: middle;
}

.flt-btn-text {
  color: #fff;
  font-size: 30;
}

.flt-btn-layout {
  margin-top: 80%;
  margin-left: 70%;
}
//#endregion

//#region Estilos Acordion (Policies/Petitions)
.itemText {
  font-size: 18;
  color: #000;
}

.itemSubText {
  font-size: 13;
  color: gray;
}

.itemIcon {
  font-size: 20;
}

.subItems {
  vertical-align: text-top;
  border: 1;
  line-height: 0;
}

// Accordion Styles
.app-accordion {
  margin: 0 5 0 5;
}

.accordionTitle {
  font-size: 18;
  vertical-align: middle;
  font-weight: bold;
}

.accordionSubtitle {
  font-size: 15;
}

.accordionParagraph {
  font-size: 15;
}

.accordionIcon {
  vertical-align: center;
  font-size: 18;
}

.accordion {
  // border: 1 1 1 1;
}
//#endregion

//#region Estilos componente petitions/details
.titleSectionDetails {
  text-align: center;
  font-weight: bold;
  font-size: 16;
  margin: 20 0 20 0;
}
//#endregion

//#region Estilos compartidos petitions/details y Profile
.title {
  font-size: $theme-title-5-font-size-phone;
  color: #000;
  font-weight: bold;
}

.title-body {
  font-size: $theme-title-5-font-size-phone;
  color: #000;
}
//#endregion

//#region Estilos para los tabs del componente profile

TabStrip {
  selected-item-color: #fff;
  un-selected-item-color: #fff;
  highlight-color: $theme--secondary-color;
  background-color: $theme--principal-color;
  font-weight: bold;
  font-size: 12;
}

// Estilos para las cards que se muestran en el componente Profile (perfile) y Policies (Pólizas)

.stacklayout-card {
    /* margin-top: 20; */
    border-color: rgb(238, 236, 236);
    border-width: 1;
    border: 1 1 1 1;
    border-radius: 10%;
    background-color: #fff;
}

.stacklayout-card-title {
    border-width: 0 0 1 0;
    border-color: #b6c1d4;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 50px 0 25px 0;
    font-size: 16;
    text-align: center;
    font-weight: bold;
    width: 94%;
    color: $theme--principal-color;
}

.stacklayout-card-body {
    padding: 35px;
    color: #000;
}

.stacklayout-card-options {
    border-width: 1 0 0 0;
    border-color: #b6c1d4;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 50px 0 25px 0;
    font-size: 16;
    text-align: center;
    font-weight: bold;
    width: 94%;
    color: $theme--principal-color;
}

.shadow {
    margin-top: 20;
    background-color: hsl(225, 1%, 95%);
    padding: 0 15px 15px 0;
    border-radius: 10%;
}
// #endregion

// #region Estilos Loader
.imgLoader {
  height: 250px;
}

.grdLoader {
  vertical-align: middle;
}

.txtLoader {
  font-weight: bold;
  color: $theme--text-dark-color;
}
// #endregion

// #region Container Styles

.fontSizeRSD {
  font-size: 15;
}

// #endregion