<StackLayout height="100%" width="97%">
    <ListView [items]="insurersGroupCollection" height="100%">
        <ng-template let-item="item" let-odd="odd" let-even="even">
            <StackLayout>
                <StackLayout class="shadow-horizontal">
                    <StackLayout height="100%" class="stacklayout-card">
                        <GridLayout rows="auto" columns="130, *">
                            <StackLayout row="0" col="0" class="stacklayout-card-title-horizontal">
                                <SVGImage [height]="isAndroid ? '250px' : 35" [width]="isIOS ? 100 : '' "
                                    [src]="'~/assets/new-iconos-aseguradoras/' + item.imageName">
                                </SVGImage>
                            </StackLayout>
                            <StackLayout row="0" col="1" class="stacklayout-card-body-horizontal"
                                orientation="vertical">
                                <!-- Todo el código del cuerpo de la card va aquí -->
                                <Label marginLeft="9" class="fas link-general-conditions"
                                    (tap)="openGeneralConditionsPDF(item.conditionsGeneralsDoc)" textWrap="true">
                                    <FormattedString>
                                        <span text="&#xf0da;  "></span>
                                        <span fontWeight="bold" [text]="item.conditionsGeneralsTitle"></span>
                                    </FormattedString>
                                </Label>
                                <StackLayout *ngIf="item.otherDocuments" width="100%">
                                    <Label *ngFor="let itemDocuments of item.otherDocumentsName"
                                        (tap)="openGeneralConditionsPDF(itemDocuments.generalConditionsOtherDoc)"
                                        textWrap="true" class="fas link-general-conditions">
                                        <FormattedString>
                                            <span text="&#xf0da;  "></span>
                                            <span fontWeight="bold"
                                                [text]="itemDocuments.generalConditionsOtherTitle"></span>
                                        </FormattedString>
                                    </Label>
                                </StackLayout>
                            </StackLayout>
                        </GridLayout>
                        <StackLayout class="stacklayout-card-options" *ngIf="item.document !== ''">
                            <GridLayout rows="*" columns="*">
                                
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>